$body-font-family: 'Gilroy';

$primary-color: #2D303E;
$secondary-color: #D43A42;

$hover-color-black: #2D303E;
$hover-color-white: #ffffff;
$hover-color-red: #D43A42;

$card-shadow: 4px 3px 15px rgba(45, 48, 62, 0.06);
$card-shadow-hover: 4px 3px 20px rgba(45, 48, 62, 0.15);